<div ng-controller="HangmanController">

  <h1> Hangman! </h1>

  <div class="container">
    <div class="well">

      <div class="secretWord">
        <ul class="list-inline">
          <li ng-repeat="letter in hangman.secretWord">
            <span ng-hide="letter.chosen"> _ </span>
            <span ng-show="letter.chosen"> {{ letter.name }} </span>
          </li>
        </ul>
      </div>

      <div class="letters" ng-hide="hangman.win || hangman.lost">
        <ul class="list-inline">

          <li ng-repeat="letter in hangman.letters">
            <button class="btn-primary letter-button"
                    ng-disabled="letter.chosen"
                    ng-click="tryLetter.try(letter);">
              {{letter.name}}
            </button>
          </li>

        </ul>
      </div>

      <p>
        <span ng-hide="hangman.win || hangman.lost"> You have {{ hangman.missesAllowed - hangman.numMisses }} guesses remaining. </span>
        <span ng-show="hangman.win"> Well done! </span>
        <span ng-show="hangman.lost"> Sorry, please try again!. </span>
      </p>

    </div>

    <button ng-click="hangman.reset();"
            class="btn btn-primary btn-large">
      New Game
    </button>

  </div>

</div>
