<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputLogin" class="sr-only">Email address</label>
        <input ng-model="login.email" type="text" id="inputLogin" class="form-control" placeholder="Login" required=""
               autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="login.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login.loginIn(login.email, login.password);">Sign in</button>
    </form>

    <p class="error-message"ng-if="login.error">{{login.error}}</p>

</div>